@page "/"
@inject NavigationManager NavigationManager
@inject IJSRuntime JSRuntime
@using System.Linq;
@inject HttpClient httpClient;
@using System.Text.Json;
@using System.Text;
@using System;
@using System.Collections.Generic;
@using System.Net.Http;
@using System.Threading.Tasks;
@using System.Text.RegularExpressions;
@inject IConfiguration Configuration;
@inject SharedFunctions SharedFunctions;
<div class="spinner-border" role="status">
    <span class="visually-hidden">Loading...</span>
</div>
<label for="">checking login...</label>

@code {
    private string? endpoint;
    private string? liffId;
    private string? lineID;
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            liffId = Configuration["LiffID"];
            endpoint = Configuration["endpointURL"];
            lineID = Configuration["lineID"];
            await SharedFunctions.OnAfterRenderAsync(endpoint, liffId, lineID);
        }
    }
}
